name: node-create-bump-version-pr

on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        description: 'Type of version bump'
        options:
          - major
          - minor
          - patch
          - premajor
          - preminor
          - prepatch
          - prerelease

jobs:
  bump-version-pr:
    uses: acalcutt/reusable-workflows/.github/workflows/test.yml@main
    with:
      version: ${{ github.event.inputs.release_type }}
      package-folders: 'platform/node'
      changelog-path: 'platform/node/CHANGELOG.md'
